* {
  box-sizing: border-box;
  font: 1rem Fredoka;
}

html[lang="en-CA"]:lang(en-CA):root {
  width: 100%;
  height: 100%;
  /* Variable section */
  --body-dark: #222;
  --text-dark: white;
  --text-light: black;
  --font-sm: 0.8em;
  --font-big: 2em;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: currentColor;
}

body.dark {
  background-color: var(--body-dark);
  color: var(--text-dark);
}

.flex {
  display: flex !important;
}

.iflex {
  display: inline-flex !important;
}

header#header {
  width: 100%;
  height: 5rem;
  padding: 1rem 1.5rem;
  box-shadow: 0 0.25rem 0.5rem #555;
}

body.dark header#header {
  box-shadow: 0 0.25rem 0.5rem #000;
}

header#header>a[id="banner"][href] {
  align-items: center;
  height: 100%;
}

img#logo[src] {
  width: 3rem;
  height: 3rem;
  margin-right: 1.5rem;
}

div#page:not(:empty) {
  width: 100%;
}

div#suggested {
  justify-content: center;
  flex-wrap: wrap;
}

div.svg-box {
  min-width: 18.75rem;
  min-height: 18.75rem;
  border-radius: 4.6875rem;
  margin: 1rem;
  text-align: center;
  transition: transform 1s;
}

body.dark div.svg-box:hover {
  transform: translate(0, -1rem);
  background: linear-gradient(45deg, black, #000f26), #000e23;
}

a:link, a:visited {
  color: #3391ff;
  text-decoration: none;
  transition: 350ms;
}

a:hover {
  color: #0076ff;
  text-decoration: underline;
}

a:active {
  color: #0057bc;
}